/* navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgb(138, 128, 145);
  color: black;
  opacity: 0.9;
  height: 70px;
  width: 100%;
  padding: 0 30px;
  position: fixed;
  top: 0px;
  transition: 1s;

  ul {
    display: flex;
    list-style: none;
  }

  a {
    color: black;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    &:hover {
      border-bottom: $secondary-color 2px solid;
    }
    &.active {
      border-bottom: $secondary-color 2px solid;
    }
  }

  &.top {
    background: transparent;
  }
}

.navbar-home {
  a {
    color: whitesmoke !important;
  }
}
