@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Anaheim', sans-serif, Tahoma, Geneva, Impact, sans-serif;
    line-height: 1.5;
}

//heading
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    //this refers to a class of lg-heading attached not nested within it, to h1,h1 or h3 and not a class lg-heading nested within, so I need an & meaning an h1 with its own class lg heading
    //rem is a multiplier of the font size (1rem is 16px)
    //rgb to see through
    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }

}

a {
    text-decoration: none;
    color: #fff;
}

//the bigger z index the closer it appears
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

//to make a sticky footer have to adjust height
//element before: calculate vh - height of footer
main {
    padding: 4rem;
    //height: 100%;
    //this calc is in main which is the element above the footer, this is to make the footer stick at the bottom
    min-height: calc(100vh - 55px);

    //targets class of icons inside main
    //transition, first parameter is what you want to transition (ex color), time it takes, and effect
    //includes add the mixing easOut defined at the top 
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.5rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    //any main with the id home
    &#home {
        //overflow will eliminate any scroll bars
        overflow: hidden;
        h1 {
            margin-top: 25vh;
        }
        
    }

    .name {
        font-family: 'Dr Sugiyama', cursive;
        font-size: 8em;
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: 1fr 1fr 1fr;
}

//creating grid areas
.bio-image {
    grid-area: bioimage;
    margin: auto;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    //border: $secondary-color 3px solid;
    box-shadow: $box-shadow;
}

.bio {
    grid-area: bio;
    font-size: 1.5rem;
}

.job-1 {
    grid-area: job1
}

.job-2 {
    grid-area: job2
}

.job-3 {
    grid-area: job3
}

.job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    border-radius: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    img {
        width: 100%;
        //border: 3px white solid;
        border-radius: 3px;
        box-shadow: $box-shadow;

        &:hover {
            opacity: 0.7;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

.boxes {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 5rem;

    div {
        font-size: 1.5rem;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        box-shadow: $box-shadow;
        background: rgba(lighten($primary-color, 2), 1);
        border-radius: 10px;
        text-align: center;
        @include easeOut;

        &:hover {
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

main#contact {
    min-height: calc(100vh - 55px);
    text-align: center;
}

aside {
    text-align: center;
}

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.2rem;

    &:hover {
        background: $secondary-color;
        color: set-color-text($secondary-color);
    }
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 10);
    color: black;
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 100);
    color: white;
}

#contact-img {
    @include contact;
}



#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 65px;
}

//media queries should run after the initial css
@import 'mobile';

