@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Impact', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//heading
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    //this refers to a class of lg-heading attached to h1,h1 or h3 and not a class lg-heading nested within, so I need an &
    //rem is a multiplier of the font size (1rem is 16px)
    //rgb to see through
    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }

}

a {
    text-decoration: none;
    color: #fff;
}

//the bigger z index the closer it appears
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    //targets class of icons inside main
    //transition, first parameter is what you want to transition (ex color), time it takes, and effect
    //includes add the mixing easOut defined at the top 
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.5rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    //any main with the id home
    &#home {
        //overflow will eliminate any scroll bars
        overflow: hidden;
        h1 {
            margin-top: 25vh;
        }
    }
}




